@font-face {
  font-family: "Jost";
  src: url(./assets/fonts/Jost-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/images/background.png);
  background-attachment: fixed;
}

:root {
  --color-text-title: #d0e2fa;
  --color-box: #1d2a3c;
  --color-text-subtitle: #ffffff;
}
