.project-form {
  display: flex;
  justify-content: center;
  color: var(--color-text-subtitle);
  margin-bottom: 1.5rem;
  .input-project {
    margin: 0.5rem;
    label {
      padding: 0 1rem;
    }
  }
  .input-project-desc {
    margin: 0.5rem 0;
    input {
      height: 2.5rem;
    }
  }
  .btn {
    background-color: var(--color-box);
    color: var(--color-text-subtitle);
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
  }
  .btn:hover {
    font-size: 1rem;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  }
}
